{% load i18n static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>{% block title %}{{ parameter.tituloProjeto|default:'Nome do Sistema' }}{% endblock title %}</title>

    <!-- Site favicon -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Work+Sans:400,500,600,700" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'vendors/styles/style.css' %}">
</head>

<body>
    <div class="login-wrap customscroll d-flex align-items-center flex-wrap justify-content-center pd-20">
        <div class="login-box bg-white box-shadow pd-30 border-radius-5">
            
            {% if parameter.iconeProjeto %}
                <img src="{{ parameter.iconeProjeto.url }}" alt="login" class="login-img">
            {% endif %}
            {% block container %}
            <h5 class="text-center mb-30">Entre para iniciar uma nova sessão</h5>
            <div class="row mt-3 pl-3 pr-3 d-block">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                    role="alert">
                    {{ message|safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Essas credenciais não correspondem aos nossos registros.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            {% if next and user.is_authenticated %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p> Sua conta não tem acesso a esta página. Para prosseguir, por favor faça o login com uma
                    conta que tenha acesso.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="input-group custom input-group-lg">
                    <input name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" value="{% if form.username.value is not None %}{{ form.username.value }}{% endif %}"
                        type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" placeholder="Login"
                        required>
                    <div class="input-group-append custom">
                        <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    {% if form.username.errors %}
                    <div class="invalid-feedback">
                        {{ form.username.errors }}
                    </div>
                    {% endif %}
                    {% if form.username.help_text %}
                    <small class="form-text text-muted">{{ form.username.help_text|safe }}</small>
                    {% endif %}
                </div>
                <div class="input-group custom input-group-lg">
                    <input name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" required type="password"
                        class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="**********">
                    <div class="input-group-append custom">
                        <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    </div>
                    {% if form.password.errors %}
                    <div class="invalid-feedback">
                        {{ form.password.errors }}
                    </div>
                    {% endif %}

                    {% if form.password.help_text %}
                    <small class="form-text text-muted">{{ form.password.help_text|safe }}</small>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Entrar">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="forgot-password padding-top-10"><a href="{% url 'core:password_reset' %}">Esqueci
                                minha senha</a></div>
                    </div>
                </div>
            </form>
            {% endblock container %}
        </div>
    </div>
    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js" integrity="sha256-0prQxFtdWQNa3vW5JDMbvbBp6ehKzf9UIWqFGZIWPPE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.pt-BR.min.js" integrity="sha256-rv+OvxX7UNfyvziwOuXp1+AjVJbHL0V8M0AQiMTOHso=" crossorigin="anonymous"></script> 
    <script src="{% static 'vendors/js/script.js' %}"></script>
</body>

</html>