{% extends "outside_template/registration/base_login.html" %}
{% load i18n static %}

{% block container %}
<div class="row m-b-20">
    <div class="col-md-12">
        <h3 class="text-center">Recuperar senha</h3>
    </div>
</div>
<div class="form-group form-primary">
    <input name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" type="{{ form.email.widget.input_type }}"
        {% if form.email.max_length %}maxlength="{{ form.email.max_length }}" {% endif %} value="{% if form.email.value is not None %}{{ form.email.value }}{% endif %}"
        required type="text" class="form-control">
    <span class="form-bar"></span>
    <label class="float-label">Informe seu email</label>
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    {% if form.email.help_text %}
    <small class="form-text text-muted">{{ form.email.help_text|safe }}</small>
    {% endif %}
</div>
<div class="row m-t-30">
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Enviar
            link de recuperação de senha</button>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <p class="text-inverse text-left m-b-0">Obrigado.</p>
        <p class="text-inverse text-left"><a href="{% url 'core:login' %}"><b>Voltar para o login</b></a></p>
    </div>
</div>
{% endblock %}