{% extends "outside_template/registration/base_login.html" %}
{% load i18n static crispy_forms_tags %}

{% block container %}
<div class="container">
    <div class="row align-items-center">
        <div class="col align-self-center">
            <div>
                <form method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    {% for erro in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ erro }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="form-row">
                        {% for field in form %}
                        <div class="form-group mb-0">
                            {{ field |as_crispy_field }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Alterar">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="forgot-password"><a href="{% url 'core:index' %}" class="btn btn-outline-primary btn-lg btn-block">Voltar</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}