{% extends "outside_template/registration/base_login.html" %}
{% load static %}
{% block container %}
<h2 class="text-center mb-30">Recuperar senha</h2>
<form method="post">
        {% csrf_token %}
    <p>Digite seu endereço de e-mail para redefinir sua senha</p>
    <div class="input-group custom input-group-lg">
        <input type="text" class="form-control {% if form.email.errors %} is-invalid{% endif %}" placeholder="Email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}"
            value="{% if form.email.value is not None %}{{ form.email.value }}{% endif %}" required>
        <div class="input-group-append custom">
            <span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        </div>
        {% if form.email.errors %}
        <div class="invalid-feedback">
            {{ form.email.errors }}
        </div>
        {% endif %}
        {% if form.email.help_text %}
        <small class="form-text text-muted">{{ form.email.help_text|safe }}</small>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Recuperar">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="forgot-password"><a href="{% url 'core:login' %}" class="btn btn-outline-primary btn-lg btn-block">Login</a></div>
        </div>
    </div>
</form>
{% endblock %}