{% extends "outside_template/base.html" %}
{% load static crispy_forms_tags %}
{% load boilerplate_base %}

{% block titulo_template %}Cria {{ model_name }}{% endblock titulo_template %}

{% block content_index %}
    <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
        <div class="container-fluid">
            <div class="container-margin">
                <form method="post">
                    {% block contentform %}
                        {% csrf_token %}
                        {% if form.non_field_errors  %}
                            {% for erro in form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ erro }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="form-row">
                            {% for field in form %}
                               <div class="form-group col-md-6 mb-0">
                                    {{ field |as_crispy_field }}
                                </div>
                            {% endfor %}
                        </div>

                     {# ------------------------------------  inlines form  -------------------------------------------#}
                        {% block contentinline %}
                            {% if list_inlines %}
                                {% for formset in list_inlines %}
                                    <div class="pd-20 bg-white border-radius-4 box-shadow mb-30 shadow-lg">
                                    <div class="clearfix">
                                    <div class="pull-left">
                                        <h4 class="text-blue">
                                        {% if formset.model.get_meta.verbose_name_plural %}
                                                    {{ formset.model.get_meta.verbose_name_plural.title }}
                                                {% elif formset.model.get_meta.verbose_name %}
                                                    {{ formset.model.get_meta.verbose_name.title }}
                                                {% elif formset.prefix %}
                                                    {{ formset.prefix.title }}
                                                {% endif %}
                                        </h4>
                                    </div>
                                    </div>
                                            {{ formset.management_form }}
                                            {% if formset.non_form_errors  %}
                                                {% for erro in formset.non_form_errors  %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{ erro }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                            {% for formset_form in formset|include_empty_form %}
                                                <div {% if  '__prefix__' in formset_form.prefix %}
                                                        class="p-3 mb-3 inline formset-custom-template {{ formset.prefix }}"
                                                        {% else %}class="p-3 mb-3 inline {{ formset.prefix }}"{% endif %}>
                                                    {% for hidden in formset_form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                    <div class="form-row">
                                                        {% for field_formset in formset_form.visible_fields %}
{#                                                            retira o imput de DELETE do formulario base dos inlines( é add um botão via javascript) #}
                                                            {% if not 'DELETE' in field_formset.name or not '__prefix__' in formset_form.prefix %}
                                                            <div class="form-group col-md-6 mb-0">
                                                                {{ field_formset |as_crispy_field }}
                                                            </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                {% endfor %}

                            {% endif %}
                        {% endblock contentinline %}
                    {% endblock contentform %}

                    <div class="row justify-content-between mt-3">
                        {% block buttonbar %}
                        <div class="col-4">
                            <a href="{% url url_list %}" class="btn btn-danger ">
                                <i class="fa fa-arrow-left"></i> Voltar
                            </a>
                        </div>
                        <div class="col-8 text-right">
                            <button type="submit" class="btn btn-success" name="_save">
                                <i class="fa fa-save"></i> Salvar
                            </button>
                            <button type="submit" class="btn btn-success" name="_addanother">
                                <i class="fa fa-save"></i> Salvar e adicionar outro(a)
                            </button>
                            <button type="submit" class="btn btn-success" name="_continue">
                                <i class="fa fa-save"></i> Salvar e continuar editando
                            </button>
                        </div>
                        {% endblock buttonbar %}
                    </div>
                </form>

                {% block contentmodal %}
                {% endblock contentmodal %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
 {% if list_inlines %}
    {% for formset in list_inlines %}
 <script type="application/javascript" >
    $(function () {
        $('.formset-custom-template').hide();
        $(".inline.{{ formset.prefix }}").formset({
            formTemplate: ".inline.{{ formset.prefix }}.formset-custom-template",
            prefix: "{{ formset.prefix }}",
            {% if formset.model.get_meta.verbose_name %}
                addText: 'Adicionar {{ formset.model.get_meta.verbose_name }}',
                deleteText: 'Remover {{ formset.model.get_meta.verbose_name.title }}',
            {% else %}
                addText: 'Adicionar',
                deleteText: 'Remover',
            {% endif %}
            deleteCssClass: 'delete-row btn btn-outline-danger',
            addCssClass: 'add-row btn btn-primary my-2',
            formCssClass: 'dynamic-form',
        });
    });
</script>
    {% endfor %}
    {% endif %}
{% endblock %}
