{% extends "outside_template/base.html" %}
{% load boilerplate_base %}

{% block content %}
       <div class="card">
            {% for app in apps %}
               {% if not app_name or app_name and app_name is app.name_app  %}
                   {% if not forloop.first and forloop.counter0|divisibleby:2 %}
                        </div>
                        <div class="card">
                   {% endif %}
                        <div class="card-header">
                            {{ app.verbose_name_app }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for model in app.models_app %}
                                <div class="col-6 mb-2">
                                    <a class="btn btn-outline-primary btn-block"
                                       style="white-space:normal !important;"
                                       href="{% url model.url_list_model %}">
                                        {{ model.name_model }}
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

{% endblock content %}